.root {
  min-height: 100vh;
  background-color: var(--purple-500);
  padding: 1.5rem 6.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  

  .title {
    width: 70%;
  }

  .card {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
  }
}
